#five {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    .black-bg {
        width: 100%;
        min-height: 800px;
        background: black;
        grid-column: 1 / 4;
        grid-row: 1/-1;
    }
    img {
        margin-top: 150px;
        grid-column: 3/6;
        grid-row: 1/-1;
    }
    .section-five-content {
        background: rgba(105, 91, 91, 0.11);
        grid-column: 4 / -1;
        grid-row: 1/-1;
        width: 100%;
        margin-top: 2rem;
        h1 {
            width: 50%;
            margin: 0 auto;
            margin-top: 8rem;
            margin-bottom: 2rem; // font-size: 2.95rem;
        }
        p {
            width: 50%;
            margin: 0 auto;
            color: $gray;
            line-height: 1.5;
        }
    }
}

@media(max-width: 768px) {
    #five {
        grid-template-columns: 1fr;
        .black-bg {
            min-height: 300px;
        }
        .section-five-content p {
            display: none;
        }
        .section-five-content {
            height: 300px;
            margin: 0 auto;
            margin-right: 5rem;
            h1 {
                width: 100%;
                color: white;
                font-size: 3.5rem;
                padding: 0 3%;
            }
        }
        img {
            display: none;
        }
    }
}