
#four {
    .wine-images{
       display: flex;
       flex-wrap: wrap;
       width: 100%;
       height: 100%;
       justify-content: center;
       align-items: center;
    
        img{
            width: 150px;
        }
        .four-items {
            text-align: center;
            padding: 0 2rem;
            margin: 4rem 0;

        }
     }   
 }
