
#two {
   .banner-images {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      align-items: center;

       img{
           width: 200px;
       }
    }   
}